######### Windows configure detectron2 ########################################
# conda create -n myenv python=3.7
# conda activate myenv
# conda install pytorch==1.6.0 torchvision==0.7.0 cudatoolkit=10.1 -c pytorch
# pip install cython
# pip install "git+https://github.com/philferriere/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI"
# git clone https://github.com/DGMaxime/detectron2-windows.git
# cd detectron2-windows
# pip install -e .
################################################################################
# torch>=1.6.0
# torchvision
# torchsummary
scipy
tldextract
opencv-python
selenium
helium
selenium-wire
webdriver-manager
pandas
numpy
tqdm
Pillow
pathlib
fvcore
pycocotools
scikit-learn
python-telegram-bot
gspread
oauth2client