name: Setup tests
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  macos_test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set environment variable
        run: echo "KMP_DUPLICATE_LIB_OK=TRUE" >> $GITHUB_ENV
      
      - name: Install Pixi
        run: |
          curl -fsSL https://pixi.sh/install.sh | sh
          echo "$HOME/.pixi/bin" >> $GITHUB_PATH
      
      - name: Install Chrome
        run: |
          brew install --cask google-chrome
          
          echo "CHROME_BIN=/Applications/Google Chrome.app/Contents/MacOS/Google Chrome" >> $GITHUB_ENV
          echo "/Applications/Google Chrome.app/Contents/MacOS" >> $GITHUB_PATH
      
      - name: Run setup scripts
        run: chmod +x chrome_setup.sh && ./chrome_setup.sh macos
                
      - name: Verify Chrome
        run: |
          echo "=== Testing Chrome installation ==="
          /Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --version
      
      - name: Pixi install
        run: pixi install

      - name: Run setup scripts
        run: chmod +x setup.sh && ./setup.sh

      - name: Run test
        run: pixi run python phishintention.py --folder datasets/test_sites --output_fn test_1228.json

  linux_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t phishintention .

      - name: Run test
        run: docker run --rm phishintention pixi run python phishintention.py --folder datasets/test_sites --output_fn test_1228.json
        #run: docker run --rm phishintention pixi run python test_driver.py

  windows_test_and_pytest:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install latest chrome and driver
        run: .\chrome_setup.bat

      - name: Install pixi
        run: powershell -ExecutionPolicy ByPass -c "irm -useb https://pixi.sh/install.ps1 | iex"

      - name: Add pixi to PATH
        run: echo "$env:USERPROFILE\.pixi\bin" | Out-File -FilePath $env:GITHUB_PATH -Append

      - name: Install pixi dependences
        run: pixi install

      - name: Install detectron2 and download models
        run: .\setup.bat

      - name: Run pytest
        run: pixi run python test_all_steps.py

      - name: Run test
        run: pixi run python phishintention.py --folder datasets/test_sites --output_fn test_1228.json

      
